<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.wmck.spotifystreamer" >

    <!-- This permission is necessary for the Spotify app to perform networking tasks -->
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/spotify_icon"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".TopTrackActivity"
            android:label="@string/title_activity_top_track" >
        </activity>
        <activity
            android:name=".TrackPlayerActivity"
            android:label="@string/title_activity_track_player" >
        </activity>
    </application>

</manifest>
